{% extends 'base.html' %}
{% block content %}
<title>Register</title>
<style>
    .flat-button {
        background-color: slategray;
        border: 1px solid aquamarine;
        color: aquamarine;
        font-size: 12px;
        padding: 1px 1px;
        cursor: pointer;
    }

    .flat-button:hover {
        text-decoration: underline;
    }
</style>
<form method="post"> {% csrf_token %}
{% for field in registration_form %}
    <p>
        {{field.label_tag}}
        {{field}}

        {% if field.help_text %}
            <small style="color: grey;">{{field.help_text}}</small>
        {% endif %}
        {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
        {% endfor %}
        <!-- LOL^^^^ -->
    </p>
    {% endfor %}
    <button class="flat-button" type="submit">Submit</button>

</form>
{% endblock content %}